You added the following product to your cart:
@{
    var cart = WoMU_lab1.Models.ShoppingCart.GetCart(this.Context);
}
<h2>@Model.Article.ArticleName</h2>
<h3>Only @Model.Article.ArticlePrice</h3>

<h4><a href="/Articles">Back</a></h4>

<h1>Related products:</h1>

<div>

    @foreach (var article in Model.Related)
    {
        var a = cart.GetCartItems();
       if (article.ArticleInStock > 0 && (!a.Any(art => art.ArticleId == article.ArticleId) || (article.ArticleInStock - a.Where(c => c.ArticleId == article.ArticleId).Single().Count) > 0))
       {        <div style="float: left; width: 150px; height: 116px;">
            <div style="text-align: center;">
                <h3>@article.ArticleName</h3>
                <h4>Price: @article.ArticlePrice</h4>

                    <a href="/ShoppingCart/AddToCart/@article.ArticleId" class="AddLink">
                            Add
                        </a>
            </div>
        </div>
        }
    }
</div>
