@{
    var cart = WoMU_lab1.Models.ShoppingCart.GetCart(this.Context);
}

<h4>Shopping cart:</h4>
<div>
    @foreach (var a in cart.GetCartItems()) {
        <div style="float: left;">
            <h3>@a.Count x @a.Article.ArticleName</h3>
            <h4>@(a.Article.ArticlePrice * a.Count)</h4>
        </div>
    }
</div>
