@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

        <address > De mörka delarna<br / > Datasalen, HB Borås<br / > </address > <address > <strong > Support:</strong > <a href="mailto:jens.holgersson@hb.se" > jens.holgersson@hb.se</a > <br / > </address >
